#loading {
    height: 100vh;
    background-size:100% 200%;
    background-image:linear-gradient(to top, rgb(58, 57, 57) 50%, black 50%);
    transition:all 4s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-hover {
    background-position:0 -100%;
}

.loader-img {
    width: 70%;
    height: 40%;
}

@media (max-width: 450px) {
    .loader-img {
        width: 65%;
        height: 10%;
    }
    
}